<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.firstname  %>  </h1>
    <p>
      Please click the link below for password reset
    </p>
    
    <p><%= link_to 'click here for password reset' , reset_password_url(@user.password_reset_token) %> </p>
  </body>
</html>