
<link data-turbolinks-track="true" rel="stylesheet" href="/assets/theme-shop.css">
<link data-turbolinks-track="true" rel="stylesheet" href="/assets/custom.css">
<div role="main" class="main shop">

    <div class="container">

        <hr class="tall">

        <div class="row">
            <div class="col-md-12">


                <div class="row featured-boxes cart">
                    <div class="col-md-12">
                        <div class="featured-box featured-box-secundary default">

                            <div class="box-content">
                              <div class="row">
                                <div class="col-md-8">
                                  <h4>Edit Profile</h4>

<%= render 'form' %>
                                </div>
                                <div class="col-md-4">
                                  Profile Image<br><br>
                                  <%= image_tag current_user.profile_image.url, height: '200', width: '200'  %>
                                </div>
                              </div>
                                
                               

</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>